.homePage_container {
  min-height: 80vh;

  .desktop {
    height: 440px;
    background: #e5e5e5 url(https://mogi.vn/content/images/home/home-bg-d.jpg) center no-repeat;
    position: relative;
    padding-top: 104px;
    background-size: cover;

    .ng-scope {
      min-width: 992px;
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;

      .title {
        margin: 0 auto;
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 528px;
        line-height: 1.5;
      }

      .search-bar {
        width: 528px;
        height: 158px;
        background-color: rgba(40, 40, 46, 0.7);
        margin: 0 auto;
        margin-top: 32px;
        border-radius: 4px;
        padding: 12px 24px 16px 24px;
        border-radius: 12px;
        box-sizing: border-box;

        .search_container {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 16px;
        }

        .options-list {
          padding: 0;
          margin: 0 auto;
          list-style: none;
          color: #fff;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          width: 297px;
          display: flex;
          list-style-type: none;

          li {
            display: inline-block;
            padding: 3px 4px;
            cursor: pointer;
            color: #fff;
            flex: 1;
            text-align: center;
          }
        }
      }
    }
  }

  //Content -------------------------------
  .homePage_content {
    .list-items {
      margin-top: 32px;
      position: relative;

      .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
      }

      .property-items {
        margin-top: 16px;
        z-index: 20;
        display: flex;

        .top-news {
          width: 100%;
          display: flex;

          .highlight-news-items {
            width: 768px;

            .secondary-highlight {
              float: left;
              margin-top: 16px;
              width: 50%;
              height: 70px;

              a {
                display: flex;
                height: 70px;
              }

              img {
                width: 110px;
                border-radius: 8px;
              }

              .secondary-highlight-title {
                height: 46px;
                margin-left: 12px;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 150%;
                color: #3c4146;
                overflow: hidden;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
              }
            }

            .top-highlight {
              width: 100%;
              display: flex;
              height: 184px;

              .top-highlights {
                width: 50%;
                background-color: #f0f2f5;
                border-radius: 0 8px 8px 0;

                .top-highlight-title {
                  height: 60px;
                  margin: 16px 16px 0 16px;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 150%;
                  overflow: hidden;
                  -webkit-line-clamp: 2;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  color: #3c4146;
                }

                .top-highlight-desc {
                  margin: 8px 16px 0 16px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 150%;
                  color: #3c4146;
                  overflow: hidden;
                  -webkit-line-clamp: 4;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                }
              }
            }
          }

          .recent-news {
            overflow: hidden;
            width: 374px;
            margin-left: 24px;

            a {
              text-decoration: none !important;
              cursor: pointer;
              color: black;

              .recent-news-title {
                padding: 8px 0 8px 0;
                border-bottom: 1px solid #e6ecf0;
                font-weight: 600;
                font-size: 15px;
                line-height: 150%;
                color: #3c4146;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              .viewmore-all {
                margin-top: 8px;
                font-weight: 600;
                font-size: 15px;
                line-height: 150%;
                color: #0499a8;
              }
            }
          }
        }
      }
    }

    .home_banner {
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 32px;

      div {
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: #fff;

        a {
          text-decoration: none !important;
          cursor: pointer;
        }
      }
    }
  }

  .features {
    margin-top: 16px;
    padding-left: 60px;

    .mg-1170-container {
      max-width: 1248px;
      width: 100%;
      margin: 0 auto;

      .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}
