:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}
input,
select,
textarea,
button {
  outline: 0;
}

.rectangle {
  position: relative; 
  height: 156px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 3; 
  box-sizing: content-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
} 
.flex-row {
  position: relative;
  width: 905px;
  height: 67px;
  margin: 45px 0 0 60px;
  z-index: 17;
}
.logo {
  position: absolute;
  width: 218px;
  height: 67px;
  top: 0;
  left: 0;
  z-index: 4;
  overflow: hidden;
}
.vector {
  position: absolute;
  width: 18.31%;
  height: 47.2%;
  top: 8.41%;
  left: 79.66%;    
  background-size: 100% 100%;
  z-index: 5;
}

.ellipse {
  position: absolute;
  width: 66px;
  height: 63px;
  top: 1px;
  left: 429px;
  background-size: cover;
  z-index: 10;
}
.ellipse-5 {
  position: absolute;
  width: 66px;
  height: 63px;
  top: 1px;
  left: 634px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  background-color: #D9D9D9 ;
  border: none;
  z-index: 11;
}
.ellipse-6 {
  position: absolute;
  width: 66px;
  height: 63px;
  top: 1 px;
  left: 839px;
  background-size: cover;
  z-index: 12;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 13px;
  left: 454px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 14px;
  left: 657px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.vector-7 {
  position: absolute;
  width: 15.174px;
  height: 22.788px;
  top: 9.286px;  
  left: 864.194px;
  background-size: cover;
  z-index: 17;
}
.rectangle-8 {
  position: absolute;
  width: 153px;
  height: 7px;
  top: 30px;
  left: 495px;
  background: #d9d9d9; 
  z-index: 13;
}
.rectangle-9 {
  position: absolute;
  width: 153px;
  height: 7px;
  top: 30px;
  left: 697px;
  background: #d9d9d9;
  z-index: 14;
}
.flex-row-a {
  position: relative;
  width: 585px;
  height: 18px;
  margin: 11px 0 0 434px;
  z-index: 49;
}
.customer-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
  color: #28a8f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.payment-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 226px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.confirmed-booking {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 402px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.rectangle-b {
  position: relative;
  width: 916px;
  height: 860px;
  margin: 23px 0 0 284px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 18; 
}
.fill-info {
  display: block;
  position: relative;
  height: 44px;
  margin: 43px 0 0 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 43.568px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.passport-name {
  position: relative;
  width: 304px;
  height: 23px;
  margin: 8px 0 0 23px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 20;
}
.passport-name-c {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.required {
  position: relative;
  color: #e6281b;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
} 
.rectangle-d {
  position: relative;
  width: 870px;
  height: 38px;
  margin: 13px 0 0 23px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 26;
} 
.rectangle-n {
  width: 870px;
  height: 38px;
  margin: 13px 0 0 23px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 26;
}
.email-input {
  position: relative;
  width: 304px;
  height: 23px;
  margin: 25px 0 0 23px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 21;
}
.email-label {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.empty-space {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
}
.required-sign {
  position: relative;
  color: #e7281c;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
}

.reminder-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 839px;
  height: 47px;
  margin: 35px 0 0 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
  z-index: 24;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 749px;
  height: 23px;
  margin: 25px 0 0 23px;
  z-index: 23;
}
.phone-input {
  flex-shrink: 0;
  height: 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.country-input {
  flex-shrink: 0;
  position: relative;
  width: 304px;
  height: 23px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 23;
}
.country-label {
  flex-shrink: 0;
  height: 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.required-sign-10 {
  position: relative;
  color: #e7281c;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.flex-row-11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 870px;
  height: 38px;
  margin: 9px 0 0 23px;
  z-index: 29;
}
.rectangle-12 {
  flex-shrink: 0;
  margin-top: 17px;
  width: 434px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 28;
}
.rectangle-13 {
  flex-shrink: 0;
  width: 425px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 28;
}
.cung-cap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 839px;
  height: 47px;
  margin: 51px 0 0 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
  z-index: 25;
}
.rectangle-14 {
  position: relative;
  width: 870px;
  height: 200px;
  margin: 0px 0 0 23px;
  font-size: 0px;
  background: #f5f5f5;
  z-index: 30;
  overflow: visible auto;
}
.hut-thuoc {
  display: block;
  position: relative;
  height: 23px;
  margin: 16px 0 0 19px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 270px;
  margin: 14px 0 0 19px;
  z-index: 38;
}

.rectangle-16 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 0;
  background: #ffffff;
  border: 3px solid #8a8989;
  z-index: 44;
  border-radius: 100px;
}
.phong-hut-thuoc {

  display: block;

  height: 23px;
  margin-top: 20px;
  margin-left: 23px;
  color: #8a8989;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.chon-loai-giuong {
  display: block;
  position: relative;
  height: 23px;
  margin: 26px 0 0 19px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.frame-17 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 270px;
  margin: 19px 0 0 19px;
  z-index: 42;
}
.group-18 {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 43;
  border-radius: 100px;
}
.rectangle-19 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 3px solid #8a8989;
  z-index: 44;
  border-radius: 100px;
}
.non-smoking-room {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 232px;
  height: 28px;
  color: #8a8989;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.rectangle-1a {
  position: relative;
  width: 916px;
  height: 172px;
  margin: 0px 0 0 284px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 33;
  overflow: visible auto;
}
.accept-terms {
  position: relative;
  width: 839px;
  height: 47px;
  margin: 24px 0 0 23px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
  z-index: 34;
}
.accept-terms-1b {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.terms-of-use {
  position: relative;
  color: #0d80d4;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.205px;
  text-align: left;
}
.accept-terms-1c {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.privacy-policy {
  position: relative;
  color: #0d81d4;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
}
.mogi-policy {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 24.205px;
  text-align: left;
}
.confirm-booking {
  display: block;
  position: relative;
  height: 23px;
  margin: 66px 0 0 632px;
  color: #1eca25;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-1d {
  position: absolute;
  width: 296px;
  height: 42px;
  top: 83px;
  left: 22px;
  cursor: pointer;
  background: #0d81d4;
  border: none;
  z-index: 35;
}
.next-step {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 92px;
  left: 36px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
